﻿@model List<BackToVillage.ViewModels.WorkDetailsVm>

@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 5, ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);

}

<div id="ajaxUpdateContainerId" class="pre-scrollable">
    @grid.GetHtml(
    htmlAttributes: new
    {
        id = "gridMapping"
    },
    tableStyle: "table table-bordered",
    headerStyle: "info",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "gridrow",
    mode: WebGridPagerModes.All, //paging to grid
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",


    columns: grid.Columns(
        grid.Column("Title", "Title"),
        grid.Column("Aim", "Aim"),
        grid.Column("Deptname", "Department Name"),
        grid.Column("WorkStatus", "Work Status"),
        grid.Column("FundsRequired", "Funds Required"),
        grid.Column("FundGranted", "Fund Granted"),
        grid.Column("UsedFunds", "Fund Used "),
        grid.Column("RemainingFund", "Fund Remaining"),
        grid.Column("StartingDate", "Starting Date", format: (item) => string.Format("{0:dd-MMM-yyyy}", item.StartingDate)),
        grid.Column("EndingDate", "Ending Date", format: (item) => string.Format("{0:dd-MMM-yyyy}", item.EndingDate)),
        grid.Column("CityName", "City"),
        grid.Column("StateName", "State"),
        grid.Column("ProgressStatus", "% Completed"),
        grid.Column("Comment", "Comment"),
        grid.Column("UserName", "Name")

    )
)
</div>
