﻿@model List<BackToVillage.ViewModels.UserDetails>

@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10, ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);

}

<div id="ajaxUpdateContainerId">
    @grid.GetHtml(
    htmlAttributes: new
    {
        id = "gridMapping"
    },
    tableStyle: "table table-bordered",
    headerStyle: "info",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "gridrow",
    mode: WebGridPagerModes.All, //paging to grid
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",


    columns: grid.Columns(
        grid.Column("Username", "Username"),
        grid.Column("Email", "Email"),
        grid.Column("Gender", "Gender"),
        grid.Column("Age", "Age"),
        grid.Column("PhoneNumber", "Phone"),
        grid.Column("Address", "Address"),
        grid.Column("OccupationName", "OccupationName")
        )
)
</div>


