﻿@model List<BackToVillage.ViewModels.ProblemIssuesVM>


@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 5, ajaxUpdateContainerId: "reportedProblemsGrid");
    grid.Pager(WebGridPagerModes.All);
}

<div id="ajaxUpdateContainerId">
    @grid.GetHtml(
    htmlAttributes: new
    {
        id = "reportedProblemsGrid"
    },
    tableStyle: "table table-bordered",
    headerStyle: "info",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "gridrow",
    mode: WebGridPagerModes.All, //paging to grid
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",


    columns: grid.Columns(
        grid.Column("ProblemId", "Problem Id"),
        grid.Column("UserName", "User Name"),
        grid.Column("DeptName", "Department Name"),
        grid.Column("CityName", "City"),
        grid.Column("StateName", "State"),
        grid.Column("ProblemDetails", "Problem Description"),
        grid.Column("ReportedOn", "Reported On", format: (item) => string.Format("{0:dd-MMM-yyyy}", item.ReportedOn)),
        grid.Column(columnName: "Action", format: (item) => Html.ActionLink("Assign Work", "AssignWork", "Admin", new { problemId = item.ProblemId }, new { @class = "btn btn-success btn-white btn-round btn-sm", id = "assignWork" }))


    )
)
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/User")
