﻿@model BackToVillage.ViewModels.UserDetails

@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<div class="container">
    <div class="panel-group">
        <div class="row panel panel-default panelDiv">
            <div class="panel-heading panelhead">General</div>
            <div class="panel-body">
                @using (Html.BeginForm("UploadPhoto", "UserAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-2 col-xs-12 col-sm-4">
                        <span class="large" data-title="profile-pic.jpg">
                            <img class="middle profilePic" id="profilePic" src="@ViewBag.ImageUrl"/>
                            <input type="file" name="ImageData" id="ImageData">
                            <input type="submit" class="btn btn-default btn-sm" value="Upload" id="upload" />
                        </span>
                    </div>
                }
                <div class="col-md-10 col-xs-12 col-sm-8">
                    <label id="username">@Html.DisplayFor(m => m.Username, new { @class = "col-md-2 control-label" })</label>
                    <p id="subheading">
                        <span class="user-info text-primary">
                            @Html.DisplayFor(m => m.RoleName, new { @class = "col-md-2 control-label" })
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="row panel panel-default panelDiv">
            <div class="panel-heading panelhead">Basic Info</div>
            <div class="panel-body">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <ul class="tags list-group list-unstyled">

                        <li>Email Id</li>
                        <li>Date of Birth</li>
                        <li>Gender</li>
                        <li>Occupation</li>
                    </ul>

                    <ul class="inputs list-group list-unstyled">
                        <li>@Html.DisplayFor(m => m.Email, new { @class = "col-md-2 control-label" })</li>
                        <li>@Html.DisplayFor(m => m.DOB, new { @class = "col-md-2 control-label" })</li>
                        <li>@Html.DisplayFor(m => m.Gender, new { @class = "form-control" })</li>
                        <li>@Html.DisplayFor(m => m.OccupationName, new { @class = "form-control" })</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row panel panel-default panelDiv">
            <div class="panel-heading panelhead">Contact Info</div>
            <div class="panel-body">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <ul class="tags list-group list-unstyled">
                        <li>Phone No.</li>
                        <li>Alternate Phone No.</li>
                        <li>Address</li>
                        <li>City</li>
                        <li>State</li>
                    </ul>

                    <ul class="inputs list-group list-unstyled">
                        <li>@Html.DisplayFor(m => m.PhoneNumber, new { @class = "form-control" })</li>
                        <li>@Html.DisplayFor(m => m.AltPhoneNumber, new { @class = "form-control" })</li>
                        <li>@Html.DisplayFor(m => m.Address, new { @class = "form-control" })</li>
                        <li>@Html.DisplayFor(m => m.CityName, new { @class = "form-control" })</li>
                        <li>@Html.DisplayFor(m => m.StateName, new { @class = "form-control" })</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        (function () {
            $('form').ajaxForm({
                success: function () {
                },
                complete: function (xhr) {
                    $("#profilePic").attr("src", xhr.responseText);
                }
            });

        })();
    </script>
}


