﻿@model BackToVillage.ViewModels.WorkDetailsVm

@{
    ViewBag.Title = "ApproveWorkRequest";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Approve Work Request</h2>
<br />
<h4>@ViewBag.Message</h4>
<div class="col-md-12 ">

    @using (Html.BeginForm("ApproveWorkRequest", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })


        <div class="col-md-12">

            <div class="form-group">
                @Html.LabelFor(m => m.FundGranted, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.FundGranted, new { @class = "form-control col-md-6" })
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(m => m.WorkId, new { @Name = "workId", Value = @ViewBag.workId })
                <input type="hidden" name="workId" value="@ViewBag.workId" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
            </div>

        </div>
    }

</div>



