﻿@model BackToVillage.ViewModels.WorkDetailsVm

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 class="text-primary">Assign Work</h3>
<hr />
<label class="label label-success center-block" id="msg">@ViewBag.Message</label>
<div class="col-md-12 ">

    @using (Html.BeginForm("AssignWork", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary("", new { @class = "text-danger" })


        <div class="col-md-12">

            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.Title, String.Empty, new { htmlAttributes = new { @class = "errorMessage" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Aim, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Aim, new { @class = "form-control", required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.Aim, String.Empty, new { htmlAttributes = new { @class = "errorMessage" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DepartmentsList, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedDomainId, new SelectList(Model.DepartmentsList, "DeptId", "DeptName"), "Select Department", new { @class = "form-control dropdown", required = "required" })

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.StateList, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedStateId, new SelectList(Model.StateList, "StateId", "StateName"), "Select State", new { @class = "form-control", required = "required", id = "stateList" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CityList, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedCityId, new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"), "Select City", new { @class = "form-control", id = "cityList" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.GroupMembersList, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedGroupMemberId, new SelectList(Enumerable.Empty<SelectListItem>(), "UserId", "UserName"), "Select Group Member", new { @class = "form-control", id = "groupMemberList" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FundGranted, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.FundGranted, new { @class = "form-control col-md-6", required = "required" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Add Work" />
                </div>
            </div>

        </div>
    }

</div>



