﻿@model BackToVillage.ViewModels.UserDetails
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchByUsername" }))
{
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12"><h3 class="text-primary">All Users</h3></div>
        <div class="col-lg-4 col-md-6 col-xs-12 pull-right searchbar">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search By Name..." name="userName" id="userName">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" id="searchByName">Search</button>
                </span>
            </div>
        </div>
    </div>
}
<hr />
<input type="image" src="~/Images/refresh.jpg" alt="Submit" width="20" height="20" class="" id="refreshUsersGrid">


<div id="gridContent">
    @Html.Partial("_AllUsers", Model.UsersList)
</div>



