﻿@model List<BackToVillage.ViewModels.UserDetails>
@using PagedList.Mvc
@{
    ViewBag.Title = "GroupMemberRequestsGridView";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 class="text-primary">Group Member Requests</h3>
<hr />
@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 6, ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);

}

<div id="ajaxUpdateContainerId">
    @grid.GetHtml(
    htmlAttributes: new
    {
        id = "gridMapping"
    },
    tableStyle: "table table-bordered",
    headerStyle: "info",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "gridrow",

    mode: WebGridPagerModes.All, //paging to grid
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",



    columns: grid.Columns(
    grid.Column("Username", "Username"),
    grid.Column("Email", "Email"),
    grid.Column("Gender", "Gender"),
    grid.Column("Age", "Age"),
    grid.Column(columnName: "Action", format: @<a class="btn btn-sm btn-success btn-white btn-round" href="@Url.Action("ApproveRequest", "Admin", new { EmailId = item.Email })" id="approveGroupMemberRequest" onclick="ApproveGroupMemberRequest(id);">
        <i class="fa fa-check bigger-110 green"></i>
        Approve
    </a>),
     grid.Column(columnName: "Action",format: @<a class="btn btn-sm btn-danger btn-white btn-round" href="@Url.Action("RejectRequest", "Admin", new { EmailId = item.Email })" id="rejectGroupMemberRequest" onclick="RejectGroupMemberRequest(id);">
        <i class="fa fa-times bigger-110 red2"></i>
        Reject
    </a>)

                )
            )
</div>
