﻿@model BackToVillage.ViewModels.ProblemIssuesVm

@{
    ViewBag.Title = "ReportedProblems";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 class="text-primary">Reported Problems</h3>
<hr />

<div id="reportedProblemsGrid">
    @Html.Partial("_ReportedProblems", Model.ProblemsList)
</div>

