﻿@model BackToVillage.ViewModels.WorkDetailsVm
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-5 col-xs-12"><h3 class="text-primary">All Work</h3> </div>
    <div><label class="col-md-1" id="filterText">Filter By:</label></div>
    <div class="col-md-2 col-xs-12 col-sm-6 filterDDl">@Html.DropDownListFor(model => model.SelectedWorkStatusId, new SelectList(Model.WorkStatusList, "WorkStatusId", "WorkStatus"), "Work Status", new { @class = "form-control dropdown", id = "workStatusListFilterAdmin" })</div>
    <div class="col-md-2 col-xs-12 col-sm-6 filterDDl">@Html.DropDownListFor(model => model.SelectedDomainId, new SelectList(Model.DepartmentsList, "DeptId", "DeptName"), "Department", new { @class = "form-control dropdown", id = "filterGridByDepartmentAdmin" })</div>
</div>
<hr />
<input type="image" src="~/Images/refresh.jpg" alt="Submit" width="20" height="20" class="" id="refreshAdminWorksGrid">
<div id="gridContent">
    @Html.Partial("_AllWork", Model.WorksList)
</div>



