﻿@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 class="text-primary">Work Requests</h3>
<hr />

@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 5, ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);

}

<div id="ajaxUpdateContainerId">
    @grid.GetHtml(
    htmlAttributes: new
    {
        id = "gridMapping"
    },
    tableStyle: "table table-bordered",
    headerStyle: "info",
    footerStyle: "webgrid-footer pagination",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "gridrow",
    mode: WebGridPagerModes.All, //paging to grid
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",

        columns: grid.Columns(
        grid.Column("Title", "Title"),
        grid.Column("Aim", "Aim"),
        grid.Column("DeptName", "DeptName"),
        grid.Column("FundsRequired", "RequiredFund"),
        grid.Column("CityName", "CityName"),
        grid.Column("StateName", "StateName"),
        grid.Column("WorkStatus", "WorkStatus"),
        grid.Column("UserName", " UserName"),
        grid.Column(columnName: "Action", format: @<a class="btn btn-sm btn-success btn-white btn-round" href="@Url.Action("ApproveWorkRequest", "Admin", new { workId = item.WorkId })" id="approveWorkRequest" onclick="ApproveWorkRequest(id);"><i class="fa fa-check bigger-110 green"></i> Approve </a>),
        grid.Column(columnName: "Action",format: @<a class="btn btn-sm btn-danger btn-white btn-round" href="@Url.Action("RejectWorkRequest", "Admin", new { workId = item.WorkId })" id="rejectWorkRequest" onclick="RejectWorkRequest(id);"><i class="fa fa-times bigger-110 red2"></i>Reject </a>)
        )
    )
</div>
