﻿body {
    background-color:#21BCD3;
    height: 100%;
    width: 98%;
    background-repeat: no-repeat;
}

header{
    margin-top:20px;
    font-size:60px;
    text-align:center;    
}

p{
    font-size:24px;
    color:black;
    text-align:center;
}

a {
    cursor: pointer;
    text-decoration: none;
    -moz-text-decoration-color: black;
    text-decoration-color: black;
}

.homeImg{
    color:black;
    margin-top:20px;
}

text{
    font-size:200px;
    font-weight:800;
    float:right;
    padding-right: 60px;
}