﻿.searchbar {
    margin-bottom: 30px;
    margin-right: 40px;
}

#search {
    height: 26px;
}

#homeimg {
    opacity: 0.6;
    height: 100%;
    width: 100%;
}

.indeximage {
    height: 250px;
    width: 400px;
}

.subDivs {
}

.subdivLeft {
    visibility: visible;
    -moz-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -moz-animation-delay: 300ms;
    -o-animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.subdivRight {
    visibility: visible;
    -moz-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -moz-animation-delay: 300ms;
    -o-animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.imgDiv {
}

    .imgDiv > .galleryImg {
        height: 250px;
        width: 350px;
    }

div.desc {
    margin-top: 10px;
    margin-left: 15px;
    bottom: 0;
    color: red;
}

.storyPanel {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.panelHeader, .panelFooter {
    background-color: #9caac1;
    color: white;
}

.panelFooter {
    padding-left: 15px;
}

h2 {
    padding-left: 5%;
}

.panelDiv {
    margin-bottom: 20px;
    border-width: initial;
    border-color: black;
    border-radius: 8px;
}

.panel-body > h4 {
    display: inline;
}

.address {
    padding-left: 50px;
}

.contactFormDiv {
    background-color: #f2f2f2;
    min-height: 430px;
}

.contactForm {
    margin-top: 100px;
}

.contactFormField {
    margin-left: 60px;
    margin-top: 40px;
}

.contactBtn {
    padding-left: 100px;
    padding-top: 30px;
}

.contactMapDiv {
    text-decoration: none;
    overflow: hidden;
    height: 500px;
    width: 500px;
    max-width: 100%;
}

#canvas-for-google-map {
    height: 60%;
    width: 100%;
    max-width: 100%;
}

.mapIframe {
    height: 100%;
    width: 100%;
    border: 0;
}

#canvas-for-google-map img {
    max-width: none !important;
    background: none !important;
}

#footer {
    margin-left: 50px;
}

#aboutImage {
    margin-right: 20px;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.aboutUs
{
    margin-left:10px;
    padding-left: 20px;
}
