﻿/* Profile Layout*/
body {
    font-family: 'Open Sans';
    color: #393939;
    line-height: 1.5;
}

.layoutBody {
    background-color: #f2f2f2;
}

.header {
    background-color: #044a8e;
    margin-left: -10px;
    margin-right: -13px;
    margin-top: -20px;
    height: 80px;
    padding-top: 30px;
}

h4 {
    padding-left: 30px;
    color: #317eac;
    padding-top: 10px;
}

.usericon {
    float: right;
    display: inline;
    position: relative;
    bottom: 5px;
    margin-right: 25px;
    text-align: center;
}

.userInfo {
    color: white;
}

.sidebar {
    width: 200px;
    float: left;
    position: static;
    padding-left: 0;
    padding-right: 0;
    background-color: silver;
    margin-left: -10px;
}

.logout , .logout:hover {
    position: relative;
    bottom: 38px;
    color: white;
}

/*Profile Page*/

.panelDiv {
    margin-top: 10px;
    margin-right: 30px;
}

#username {
    margin-left: 250px;
    font-size: xx-large;
    padding-top: 40px;
}

.panelhead {
    color: #044a8e;
    font-weight: bolder;
    font-style: inherit;
}

#subheading {
    margin-left: 315px;
}

.tags {
    list-style-type: none;
    color: #598090;
    font-family: Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    width: 30%;
    display: inline-block;
    margin-top: 5px;
}

ul.tags li {
    margin-top: 25px;
}

.inputs {
    list-style-type: none;
    width: 60%;
    border-color: #00a8e6;
    border-width: thick;
    display: inline-block;
    margin-top: 5px;
}

ul.inputs li {
    margin-top: 18px;
}

.profilePic {
    width: 150px;
    height: 150px;
    z-index: 2;
}

#startingDate, #endingDate, #startingDateLabel, #endingDateLabel {
    display: none;
}

#comment {
    height: 80px;
}

#progressbar-outer {
    margin-top: 8px;
}

#gridMapping > tfoot > tr > td, #reportedProblemsGrid > tfoot > tr > td {
    background-color: #044a8e;
}

    #gridMapping > tfoot > tr > td > a, #reportedProblemsGrid > tfoot > tr > td > a {
        color: white;
    }

        #gridMapping > tfoot > tr > td > a:active, #reportedProblemsGrid > tfoot > tr > td > a :active {
            color: white;
        }

a.active-link:active {
    background-color: #044a8e;
    color: white;
}

#gridMapping > thead > tr > th, #reportedProblemsGrid > thead > tr > th {
    background-color: #044a8e;
    text-align: center;
}

    #gridMapping > thead > tr > th > a, #reportedProblemsGrid > thead > tr > th > a {
        color: white;
    }

#gridMapping > tbody > tr > td {
    text-align: center;
    padding-top: 15px;
}

#reportedProblemsGrid > tbody > tr > td > a {
    color: white;
}

#searchByName {
    background-color: #044a8e;
    color: white;
}

.bodyContent {
    margin-left: -15px;
    min-height: 100%;
    background-color: white;
    width: 80%;
}

.headerName {
    color: white;
    padding-top: 0;
}

#profileBody {
    width: 100%;
}

#changePasswordDiv {
    margin-left: 200px;
}

#filterText {
    margin-top: 20px;
}

.filterDDl {
    margin-top: 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 100%;
    overflow-y: auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.updateFormDiv{
    margin-top: 15px;
}