﻿body {
}

h1{
    margin-left: 50px;
    color:black;
}
    
 h2{
    padding-top: 30px;
 }
.register
{
    position:center;
    margin-left:100px;
    margin-right:100px;
    margin-top:30px;
    background-color:rgba(211, 220, 221, 0.48);
}

.loginDiv {
    margin-top: 100px;
    margin-right: 300px;
    margin-left: 325px;
    width: 50%;
    padding-bottom: 20px;
}

.loginDiv >h1{
        margin-left: 275px;
        padding-top: 20px;
}
#loginFormGroup
{
    margin-left: 0;
}
.errorMessage
{
    color:red;
    padding-top: 20px;
    position: relative;
    top: 8px;
    padding-left: 15px;
}
#msg{
    height: 30px;
    padding-top: 10px;
    font-size: medium;
}

#loginBtnFormGroup
{
    margin-left: 0;
}
#loginBtn{
    width: 58%;
}
.regdlabel
{
    color: black;
}
