﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>
<body>
    <footer id="footer">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><a href="/Home/Index" class="small">Home</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><a href="/Home/About" class="small">About Us</a></li>
            </div>

            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><a href="/Home/Contact" class="small">Contact US</a></li>
                </ul>
            </div>

            <div class="col-md-3 center-block">
                <ul class="list-unstyled">
                    <li></li>
                    <li><p class="small">&copy; @DateTime.Now.Year - CopyRights Reserved</p></li>
                    <li><p class="small">Designed & Created By: Pooja</p></li>
                </ul>
            </div>

        </div>

    </footer>
</body>
</html>

