﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/bootstrapCerulean.css" rel="stylesheet" />
    <link href="~/Content/Index.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <div class="page-header ">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Back To Village", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("Success Stories", "SuccessStories", "Home")</li>
                            <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                        </ul>


                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

