﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customCss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>@{ Html.RenderPartial("_Header");}</div>
    <div class="container-fluid">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    @*<div>
        @Html.Partial("_Footer")
    </div>*@

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/User")
    @RenderSection("scripts", required: false)
</body>
</html>
