﻿@using Microsoft.AspNet.Identity

    <ul class="nav navbar-nav navbar-right" >
        <li>@Html.ActionLink("Register", "Register", "UserAccount", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "UserAccount", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>

