﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ADMIN</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customCss")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Profile.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row header ">
            <div class="col-md-7">
                <h4 class="headerName">WELCOME :: @Session["userName"]</h4>
            </div>
            <div class="usericon col-md-3 ">
                <a aria-expanded="false" data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo img-circle" src="@Session["profileimage"]" width="48" height="48" alt="User Photo">
                    <span class="userInfo">
                        @Session["userName"]
                    </span>
                </a>
            </div>
            <div class="col-md-2 pull-right">
                <a class="logout" id="logout" href="/UserAccount/Logout"><i class="fa fa-power-off"></i> Log Out</a>
            </div>
        </div>
    </div>

    <!-- SideBar-->
    <div class="row">
        <div class="col-md-2 col-xs-12">
            <div id="sidebar" class="sidebar list-group">
                <a href="/Admin/AdminProfile" class="list-group-item menu-text activeLink"><i class="fa fa-dashboard"></i>  DashBoard</a>
                <a href="/Admin/GroupMemberRequests" class="list-group-item menu-text activeLink"><i class="fa fa-list"></i>  View Group Member Requests</a>
                <a href="/Admin/WorkRequests" class="list-group-item menu-text activeLink"><i class="fa fa-list"></i>  View New Work Requests</a>
                <a href="/Admin/GetAllUsers" class="list-group-item menu-text activeLink"><i class="fa fa-list"></i> View All Users</a>
                <a href="/Admin/ViewAllWork" class="list-group-item menu-text activeLink"><i class="fa fa-list"></i>  View All Works</a>
                <a href="/Admin/ReportedProblems" class="list-group-item menu-text activeLink" id="problemList"><i class="fa fa-list"></i>Reported Problems</a>
                <a href="/UserAccount/Edit" class="list-group-item menu-text activeLink"><i class="fa fa-edit"></i>  Edit Profile</a>
                <a href="/UserAccount/ChangePassword" class="list-group-item menu-text activeLink"><i class="fa fa-plus"></i>  Change Password</a>
                <a href="/UserAccount/Delete" class="list-group-item menu-text activeLink"><i class="fa fa-trash"></i>  Delete Account</a>
            </div>
        </div>

        <!-- Body Content -->
        <div class="col-md-10 col-xs-12 container body-content bodyContent">
            @RenderBody()
            <hr />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/User")
    @RenderSection("scripts", required: false)
</body>
</html>




