﻿@{
    Layout = null;
}
@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/ErrorPages.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <a href="/UserAccount/LogOut"><i class="fa fa-home fa-4x homeImg" aria-hidden="true"></i></a>
    <header> :( OOPS!  ERROR </header>
    <p>Page Not Found</p>
    <p>Something Went Wrong</p>
    <text>404</text>
</body>
</html>
