﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/Content/ErrorPages.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <h2> @ViewBag.Message </h2>
    <a href="/Home/Index"><i class="fa fa-home fa-4x homeImg" aria-hidden="true"></i></a>
    <header> :( OOPS!  ERROR </header>
    <p>Something went wrong. Please try again Later.</p>
</body>
</html>
