﻿@{
    Layout = "~/btmv1/Views/Shared/UserLayout.cshtml";
}

<link href="~/Content/ErrorPages.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<h2 class="text-primary">UnAuthorizedAccess</h2>
<hr />
<div>
    <p class="text-danger">Authorization Failed</p>
    <p>You are not an Authorized User to access this page.</p>
</div>