﻿@model BackToVillage.ViewModels.Contact
@{
    ViewBag.Title = "Contact Us";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <h1 id="contactHeader"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> Contact Us </h1>
</div>
<div class="col-md-6 col-sm-6 col-xs12">
    <h4>Write To Us</h4>
    <h5></h5>
    <div class="contactFormDiv">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />

            <div class="contactForm">
                <div class="contactFormField">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "errorMessage" })
                </div>

                <div class="contactFormField">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMessage" })
                </div>

                <div class="contactFormField">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = "5" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "errorMessage" })
                </div>

                <div class="contactFormField">
                    <div class="col-md-offset-2 col-md-10 contactBtn">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="col-md-6 col-sm-6 col-xs12 address">
    <h4>Office Address</h4>
    <address>
        <strong>Back To My Village</strong><br /> 10th Floor, DLF Cyber City, IDCO Info Park,
        Chandaka Industrial Estate, KIIT University, Patia, Bhubaneswar, Odisha 751024
    </address>
    <address>
        <strong>Support:</strong><a href="mailto:pooja0267@gmail.com">pooja0267@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:pooja.singh2607@gmail.com">pooja.singh2607@gmail.com</a>
    </address>

    <div class="contactMapDiv">
        <div id="canvas-for-google-map">
            <iframe class="mapIframe" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=DLF+Cyber+City+Bhubaneswar&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
        </div><a class="embedded-map-code" rel="nofollow" href="http://www.szablonypremium.pl/wordpress" id="make-map-data"></a>
    </div>
    <script src="https://www.szablonypremium.pl/google-maps-authorization.js?id=45f50b2c-5dff-a6ae-86b3-63e94c7605a0&c=embedded-map-code&u=1475127147" defer="defer" async="async"></script>
</div>
<div>@Html.Partial("_Footer")</div>

