﻿@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Gallery</h1>
    <hr />
    <div class="row">
        <div class="col-md-4 col-xs-12 imgDiv">
            <img src="/Images/Gallery/1428669246-1276.jpg" class="galleryImg img-responsive img-thumbnail">
        </div>
        <div class="col-md-4 col-xs-12 imgDiv">
            <img src="~/Images/Gallery/22028411906_1d1aa6707e_o.jpg" class="galleryImg img-responsive img-thumbnail" />
        </div>
        <div class="col-md-4 col-xs-12 imgDiv">
            <img src="~/Images/Gallery/developing-smart-villages.jpg" class="galleryImg img-responsive img-thumbnail" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12 imgDiv">
            <img src="~/Images/Gallery/foundation5.jpg" class="galleryImg img-responsive img-thumbnail" />
        </div>
        <div class="col-md-4 col-xs-12 imgDiv">
            <img src="~/Images/Gallery/india-measurements.jpg" class="galleryImg img-responsive img-thumbnail" />
        </div>
        <div class="col-md-4 col-xs-12 imgDiv">
            <img src="~/Images/Gallery/Jayapur2.jpg" class="galleryImg img-responsive img-thumbnail" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12 imgDiv">
            <img src="~/Images/Gallery/new.jpg" class="galleryImg img-responsive img-thumbnail" />
        </div>
        <div class="col-md-4 col-xs-12 imgDiv">
            <img src="~/Images/Gallery/Rural-Development.jpg" class="galleryImg img-responsive img-thumbnail" />
        </div>
        <div class="col-md-4 col-xs-12 imgDiv">
            <img src="~/Images/Gallery/southasia2.jpg" class="galleryImg img-responsive img-thumbnail" />
        </div>
    </div>

</div>
<div>@Html.Partial("_Footer")</div>