﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Index.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />

<img src="~/Images/beautiful_scenery-1280x800.jpg" id="homeimg" alt="home" class="img-responsive" />


<div class="subDivs">
    <div class="col-sm-6 col-sm-offset-1 align-right fadeInLeft animated subdivLeft" data-duration="500ms" data-delay="300ms">
        <h2>VISION</h2>
        <p>
            <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
            The Vision Statement is derived from Mahatma Gandhi’s concept of rural development which revolves around creating model villages for transforming ‘swaraj’ into ‘su-raj’. The Vision Statement is emanated from his own words:
            “Reconstruct the villages of India so that it may be as easy for any-one to live in them as it is supposed to be in the cities”.
            <i class="fa fa-quote-right fa-2x"></i>
        </p>
    </div>
    <div class="col-sm-5 fadeInRight animated subdivRight" data-duration="500ms" data-delay="300ms">
        <img src="~/Images/230-2.jpg" class="indeximage img-responsive" alt="">
    </div>
</div>

<div class="subDivs">
    <div class="col-sm-5 fadeInLeft animated subdivLeft" data-duration="500ms" data-delay="300ms">
        <img src="~/Images/230-2.jpg" class="indeximage img-responsive" alt="">
    </div>
    <div class="col-sm-6 col-sm-offset-1 align-right fadeInRight animated subdivRight" data-duration="500ms" data-delay="300ms">
        <h2>MISSION</h2>
        <p>
            <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
            The Mission is to achieve Mahatma Gandhi’s vision of rural India, which is narrated in his own words:
            "An ideal Indian village will be so constructed as to lend itself to perfect sanitation.
            It will have cottages with sufficient light and ventilation built of a material obtainable within a radius of
            five miles of it.The village lanes and streets will be free of all avoidable dust. It will have wells
            according to its needs and accessible to all. It will have houses of worship for all; also a common meeting place,
            a village common for grazing its cattle, a co-operative dairy, primary and secondary schools in which
            industrial education will be the central fact, and it will have panchayats for settling disputes.
            It will produce its own grains, vegetables and fruit, and its own khadi. This is roughly my idea of a model village."
            <i class="fa fa-quote-right fa-2x"></i>
        </p>
    </div>
    <div>@Html.Partial("_Footer")</div>


</div>


