﻿@model IEnumerable<BackToVillage.ViewModels.WorkDetailsVm>

@{
    ViewBag.Title = "SuccessStories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="/Images/ss2.jpg" height="100" width="92%" alt="" class="img-responsive"></h2>
<div class="panel-group storyPanel">
    @foreach (var story in Model)
    {
        <div class="panel panelDiv">
            <div class="panel-heading panelHeader"><strong>TITLE: @Html.DisplayFor(model => story.StoryTitle, new { htmlAttributes = new { @class = "form-control" } })</strong></div>
            <div class="panel-body"><h4>"</h4>@Html.DisplayFor(model => story.StorySummary, new { @class = "form-control" })<h4>"</h4></div>
            <div class="panelFooter"><strong>Published By: @Html.DisplayFor(m => story.UserName, new { @class = "form-control" }) </strong>  <em>  @Html.DisplayFor(model => story.CityName, new { htmlAttributes = new { @class = "form-control" } }) , @Html.DisplayFor(model => story.StateName, new { htmlAttributes = new { @class = "form-control" } })</em></div>
        </div>
    }
</div>



