﻿@model List<BackToVillage.ViewModels.WorkDetailsVm>


@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 5, ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);
}

@grid.GetHtml(
    htmlAttributes: new
    {
        id = "gridMapping"
    },
    tableStyle: "table table-bordered",
    headerStyle: "info",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "gridrow",
    mode: WebGridPagerModes.All, //paging to grid
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",


    columns: grid.Columns(
        grid.Column("Title", "Title"),
        grid.Column("Aim", "Aim"),
        grid.Column("Deptname", "Department Name"),
        grid.Column("FundsRequired", "Funds Required"),
        grid.Column("WorkStatus", "Work Status"),
        //grid.Column(columnName: "Action", format: (item) => Html.ActionLink("Update", "UpdateWork", "User", new { workId = item.WorkId }, new { id = "updateWork" })),
        //grid.Column(columnName: "Action", format: (item) => Html.ActionLink("Update", "", "", new { workId = item.WorkId }, new { id = "updateWork" })),
        grid.Column(columnName: "Action", format: @<a class="btn btn-sm btn-primary btn-white btn-round" id="updateWork" @*href="@Url.Action("null", "null", new { workId = item.WorkId })"*@ onclick="getModal(@item.WorkId);">Update</a>),
        grid.Column(columnName: "Action", format: (item) => Html.ActionLink("Remove", "RemoveWork", "User", new { userId = item.Userid }, new { id = "removeWork" })),
        grid.Column(columnName: "Action", format: (item) => Html.ActionLink("Publish Story", "PublishSuccessStory", "User", new { workId = item.WorkId }, null))

        )
    )

