﻿@model BackToVillage.ViewModels.WorkDetailsVm

@{
    //Layout = "~/Views/Shared/TrialLayout.cshtml";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h4>@ViewBag.Message</h4>
<div class="col-md-12 ">
    <h3 class="text-primary">Add New Work</h3>
    @using (Html.BeginForm("AddWork", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })


        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.Title, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Aim, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Aim, new { @class = "form-control", required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.Aim, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DepartmentsList, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedDomainId, new SelectList(Model.DepartmentsList, "DeptId", "DeptName"), "Select Department", new { @class = "form-control dropdown", required = "required" })

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.StateList, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedStateId, new SelectList(Model.StateList, "StateId", "StateName"), "Select State", new { @class = "form-control dropdown", required = "required", id = "stateList" })

                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.CityList, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedCityId, new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"), "Select City", new { @class = "form-control dropdown", id = "cityList" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FundsRequired, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.FundsRequired, new { @class = "form-control col-md-6", required = "required" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Add Work" />
                </div>
            </div>

        </div>
    }

</div>

