﻿@*@model BackToVillage.ViewModels.ComplexUserModel*@
@model BackToVillage.ViewModels.WorkDetailsVm
@{
    ViewBag.Title = "AjaxTrial";
    Layout = "~/Views/Shared/TrialLayout.cshtml";
}

<h2>AjaxTrial</h2>

<div id="subBody">
    
</div>

@*<div id="dashboard">
    @Html.Partial("_UserProfile", Model.UserDetails)
</div>

<div id="viewWorks">
    @Html.Partial("_ViewWorks", Model.WorkDetails)
</div>*@



@*<label class="label label-success center-block" id="msg">@ViewBag.Message</label>
    <h3 class="text-primary"> My Works</h3>
    <hr />
    <div class="form-group row">
        <div>
            <label class="col-md-1">Filter By:</label>
        </div>
        <div class="col-md-2 col-xs-8 col-sm-6">@Html.DropDownListFor(model => model.SelectedWorkStatusId, new SelectList(Model.WorkStatusList, "WorkStatusId", "WorkStatus"), "Select Status", new { @class = "form-control dropdown", id = "workStatusListFilter" })</div>
    </div>



    <input type="image" src="~/Images/refresh.jpg" alt="Submit" width="20" height="20" class="" id="refreshUserWorksGrid">
    <div id="gridContent">
        @Html.Partial("_WorkGrid", Model.WorksList)
    </div>*@