﻿@model BackToVillage.ViewModels.WorkDetailsVm

@{
    ViewBag.Title = "PublishSuccessStory";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Publish Your Success Story</h2>

<div class="col-md-12 ">
    <h4>@ViewBag.Message</h4>
    @using (Html.BeginForm("PublishSuccessStory", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="col-md-12">

            <div class="form-group">
                @Html.LabelFor(m => m.SuccessStoryTitle, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.EditorFor(m => m.SuccessStoryTitle, new { @class = "form-control", required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.SuccessStoryTitle, String.Empty, new { htmlAttributes = new { @class = "errorMessage" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartingDate, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DisplayFor(m => m.StartingDate, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndingDate, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DisplayFor(m => m.EndingDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SuccessStorySummary, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextAreaFor(m => m.SuccessStorySummary, new { @class = "form-control", required = "required", rows = "10" })
                </div>
                @Html.ValidationMessageFor(m => m.SuccessStorySummary, String.Empty, new { htmlAttributes = new { @class = "errorMessage" } })
            </div>

            <div class="form-group">
                @Html.HiddenFor(m => m.WorkId, new { @Name = "workId", Value = Model.WorkId })
                <input type="hidden" name="workId" value="@ViewBag.workid" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Publish" />
                </div>
            </div>
        </div>
    }

</div>



