﻿@model BackToVillage.ViewModels.ProblemIssuesVm

@{
    ViewBag.Title = "ReportAnIssue";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h3 class="text-primary">Report An Issue</h3>
<h4>@ViewBag.Message</h4>
@using (Html.BeginForm("ReportAnIssue", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="col-md-12">

        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", required = "required", placeholder = "Enter your Full Name", Value = @Session["userName"] })
            </div>
            @Html.ValidationMessageFor(m => m.UserName, String.Empty, new { htmlAttributes = new { @class = "errorMessage" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DepartmentsList, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.SelectedDomainId, new SelectList(Model.DepartmentsList, "DeptId", "DeptName"), "Select Department", new { @class = "form-control dropdown", required = "required" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProblemDetails, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.ProblemDetails, new { @class = "form-control ", rows = "6" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.StateList, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.SelectedStateId, new SelectList(Model.StateList, "StateId", "StateName"), "Select State", new { @class = "form-control dropdown", required = "required", id = "stateList" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CityList, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.SelectedCityId, new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"), "Select City", new { @class = "form-control dropdown", id = "cityList" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>

    </div>
}




