﻿@model BackToVillage.ViewModels.WorkDetailsVm

@{
    ViewBag.Title = "UpdateWork";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h3 class="text-primary">Update Work</h3>

<h4>@ViewBag.Message</h4>
<div class="col-md-12 ">

    @using (Html.BeginForm("UpdateWork", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "workUpdateForm" }))
    {
        @Html.AntiForgeryToken()

        <hr />


        <div class="col-md-12">

            <div class="form-group">
                @Html.LabelFor(m => m.WorkStatusList, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.ProgressId, new SelectList(Model.WorkStatusList, "WorkStatusId", "WorkStatus"), "Select Status", new { @class = "form-control dropdown", id = "workStatusList" })

                </div>
                @Html.ValidationMessageFor(m => m.SelectedWorkStatusId)
            </div>

            @{
        if (String.IsNullOrEmpty(Model.StartingDate.ToString()))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.StartingDate, new { @class = "col-md-2 control-label", id = "startingDateLabel" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.StartingDate, new { @class = "form-control", type = "date", id = "startingDate" })
                </div>
            </div>
        }
        else
        {

            <div class="form-group">
                @Html.LabelFor(model => model.StartingDate, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DisplayFor(m => m.StartingDate, new { @class = "form-control" })
                </div>
            </div>

        }
            }

            <div class="form-group">
                @Html.LabelFor(model => model.FundGranted, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DisplayFor(model => model.FundGranted, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UsedFunds, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.UsedFunds, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the Progress as % ", id = "usedfunds", Value = Model.UsedFunds } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RemainingFund, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.DisplayFor(model => model.RemainingFund, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the Progress as % ", id = "remainingfunds", Value = Model.RemainingFund } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProgressStatus, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ProgressStatus, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the Progress as % ", id = "progressStatus", Value = Model.ProgressStatus } })
                </div>
                <div class="col-md-3">
                    <div class="progress pos-rel" data-percent="100%" id="progressbar-outer">
                        <div class="progress-bar" style="width:@Model.ProgressStatus+'%'" id="progressbar"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comment, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextAreaFor(model => model.Comment, new { @class = "form-control ", rows = "5", id = "comment" })
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(m => m.WorkId, new { @Name = "workId", Value = @ViewBag.workid })
                <input type="hidden" name="workId" value="@ViewBag.workid" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            </div>

        </div>
    }

</div>
