﻿@model BackToVillage.ViewModels.WorkDetailsVm

@{
    ViewBag.Title = "ViewWorkinGrid";
    Layout = "~/Views/Shared/UserLayout.cshtml";

}

<h3 class="text-primary"> My Works</h3>
<hr />
<div class="form-group row">
    <div>
        <label class="col-md-1">Filter By:</label>
    </div>
    <div class="col-md-2 col-xs-8 col-sm-6">@Html.DropDownListFor(model => model.SelectedWorkStatusId, new SelectList(Model.WorkStatusList, "WorkStatusId", "WorkStatus"), "Select Status", new { @class = "form-control dropdown", id = "workStatusListFilter" })</div>
</div>

<input type="image" src="~/Images/refresh.jpg" alt="Submit" width="20" height="20" class="" id="refreshUserWorksGrid">
<div id="gridContent">
    @Html.Partial("_WorkGrid", Model.WorksList)
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">×</span>
        <h3 class="text-primary">Update Work</h3>
        <label class="label label-success center-block" id="msg">@ViewBag.Message</label>
        <div class="col-md-12 col-xs-12" id="updateWorkForm">
             @*Render Update Form Here.*@
        </div>
    </div>
</div>

