﻿@model BackToVillage.ViewModels.EditProfile

@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@{
    ViewBag.Title = "Edit";

    if (Model.roleId == 1)
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/UserLayout.cshtml";
    }

}
<label class="label label-success center-block" id="msg">@ViewBag.Message</label>
<h3 class="text-primary">Change Password</h3>
@using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal" id="changePasswordDiv">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Set a Password", required = "required", id = "password" })
            </div>
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-Enter Password", required = "required", id = "confirmPassword" })
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, String.Empty, new { @class = "errorMessage" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
