﻿@model BackToVillage.ViewModels.EditProfile

@{
    ViewBag.Title = "Edit";

    if (Model.roleId == 1)
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/UserLayout.cshtml";
    }

}
<h4>@ViewBag.Message</h4>
@using (Html.BeginForm("Edit", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 class="text-primary">Edit Profile</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label", @required = "required" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your First Name", required = "required", id = "firstName", Value = Model.FirstName } })
            </div>
            @Html.ValidationMessageFor(m => m.FirstName, String.Empty, new { @class = "errorMessage" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter your Last Name", required = "required", id = "lastName", Value = Model.LastName })
            </div>
            @Html.ValidationMessageFor(m => m.LastName, String.Empty, new { @class = "errorMessage" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.DOB, new
           {
               @class = "form-control", required = "required",
               id = "editedDob",
               Value = Model.DOB.ToShortDateString()
           })
            </div>
            @Html.ValidationMessageFor(m => m.DOB, String.Empty, new { @class = "errorMessage" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your Email Id", required = "required", id = "email", type = "email", Value = Model.Email })
            </div>
            @Html.ValidationMessageFor(m => m.Email, String.Empty, new { @class = "errorMessage" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Enter your Phone Number", required = "required", id = "phone", Value = Model.PhoneNumber })
            </div>
            @Html.ValidationMessageFor(m => m.PhoneNumber, String.Empty, new { @class = "errorMessage" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AltPhoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.AltPhoneNumber, new { @class = "form-control", placeholder = "Enter your Alternate Phone Number", id = "altPhone", Value = Model.AltPhoneNumber })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter your Address", required = "required", id = "address", Value = Model.Address })
            </div>
            @Html.ValidationMessageFor(m => m.Address, String.Empty, new { @class = "errorMessage" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.OccupationList, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.SelectedOccupationId, new SelectList(Model.OccupationList, "OccupationId", "OccupationName"), "Select Occupation", new { @class = "form-control dropdown" })

            </div>
            @Html.ValidationMessageFor(m => m.SelectedOccupationId, String.Empty, new { @class = "errorMessage" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.StateList, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.SelectedStateId, new SelectList(Model.StateList, "StateId", "StateName"), "Select State", new { @class = "form-control dropdown", id = "stateList" })

            </div>
            @Html.ValidationMessageFor(m => m.SelectedStateId, String.Empty, new { @class = "errorMessage" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CityList, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.SelectedCityId, new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"), "Select City", new { @class = "form-control dropdown", id = "cityList", required = "required" })

            </div>
            @Html.ValidationMessageFor(m => m.SelectedCityId, String.Empty, new { @class = "errorMessage" })
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

}




















