﻿@model BackToVillage.ViewModels.LoginVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label class="label label-success center-block" id="msg">@Html.ValidationMessage("Error")</label>
<label class="label label-success center-block" id="msg">@ViewBag.Message</label>
<div class="register loginDiv">
    <h1>Login</h1>
    @using (Html.BeginForm("Login", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />

        <div>
            <div class="form-group" id="loginFormGroup">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errorMessage" })
            </div>

            <div class="form-group" id="loginFormGroup">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                </div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "errorMessage" })
            </div>

            <div class="form-group" id="loginBtnFormGroup">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-primary" id="loginBtn" />
                </div>
            </div>
        </div>
    }

</div>




