﻿@model BackToVillage.ViewModels.UserDetails
@{
    ViewBag.Title = "Register Here";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Register.css" rel="stylesheet" />
<label class="label label-success center-block" id="msg">@Html.ValidationMessage("Error")</label>
<label class="label label-success center-block msg">@ViewBag.Message</label>

<div id="register" class="register">
    <h1>Register</h1>
    @using (Html.BeginForm("Register", "UserAccount", FormMethod.Post, htmlAttributes: new { id = "loginForm", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />

        <div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your First Name", required = "required", id = "firstName" } })
                </div>
                @Html.ValidationMessageFor(m => m.FirstName, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter your Last Name", required = "required", id = "lastName" })
                </div>
                @Html.ValidationMessageFor(m => m.LastName, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", type = "date", required = "required", id = "dob", min = "1950-01-01" })
                </div>
                @Html.ValidationMessageFor(m => m.DOB, String.Empty, new { @class = "errorMessage" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "user control_radio", id = "user_gender" })<span class="radio_label">Male</span>
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "user control_radio", id = "user_gender" })<span class="radio_label">Female</span>
                    </label>
                </div>
                @Html.ValidationMessageFor(m => m.Gender, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your Email Id", required = "required", id = "email", type = "email" })
                </div>
                @Html.ValidationMessageFor(m => m.Email, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Enter your Phone Number", required = "required", id = "phone" })
                </div>
                @Html.ValidationMessageFor(m => m.PhoneNumber, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.AltPhoneNumber, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.AltPhoneNumber, new { @class = "form-control", placeholder = "Enter your Alternate Phone Number", id = "altPhone" })
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter your Address", required = "required", id = "address" })
                </div>
                @Html.ValidationMessageFor(m => m.Address, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.OccupationList, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedOccupationId, new SelectList(Model.OccupationList, "OccupationId", "OccupationName"), "Select Occupation", new { @class = "form-control dropdown" })

                </div>
                @Html.ValidationMessageFor(m => m.SelectedOccupationId, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.StateList, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedStateId, new SelectList(Model.StateList, "StateId", "StateName"), "Select State", new { @class = "form-control dropdown", id = "stateList" })

                </div>
                @Html.ValidationMessageFor(m => m.SelectedStateId, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CityList, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SelectedCityId, new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "CityName"), "Select City", new { @class = "form-control dropdown", id = "cityList" })

                </div>
                @Html.ValidationMessageFor(m => m.SelectedCityId, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Set a Password", required = "required", id = "password" })
                </div>
                @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @class = "errorMessage" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label regdlabel" })
                <div class="col-md-3">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-Enter Password", required = "required", id = "confirmPassword" })
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, String.Empty, new { @class = "errorMessage" })
            </div>




            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.isSelected)
                        @Html.LabelFor(m => m.isSelected, new { @class = "regdlabel" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>
        </div>
    }

</div>
